.typographyTypographyDisplayDisplayRegularDisplayLarge 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplayDisplayRegularDisplayMedium 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplayDisplayRegularDisplaySmall 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadlineHeadlineRegularHeadlineLarge 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadlineHeadlineRegularHeadlineMedium 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadlineHeadlineRegularHeadlineSmall 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyTitleTitleRegularTitleLarge 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyTitleTitleRegularTitleMedium 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyTitleTitleRegularTitleSmall 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyLabelLabelRegularLabelLarge 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyLabelLabelRegularLabelMedium 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyLabelLabelRegularLabelSmall 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing:  
  0.05em;
  text-indent: 0px;
  
}    

.typographyTypographyBodyBodyRegularBodyLarge 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyTypographyBodyBodyRegularBodyMedium 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyTypographyBodyBodyRegularBodySmall 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplayDisplayMediumDisplayLarge 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 57px;
  line-height: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplayDisplayMediumDisplayLarge 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 57px;
  line-height: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplayDisplayMediumDisplayMedium 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 52px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplayDisplayMediumDisplaySmall 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadlineHeadlineMediumHeadlineLarge 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadlineHeadlineMediumHeadlineMedium 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadlineHeadlineMediumHeadlineSmall 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyTitleTitleMediumTitleLarge 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyTitleTitleMediumTitleMedium 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyTitleTitleMediumTitleSmall 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyLabelLabelMediumLabelLarge 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyLabelLabelMediumLabelMedium 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyLabelLabelMediumLabelSmall 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing:  
  0.05em;
  text-indent: 0px;
  
}    

.typographyTypographyBodyBodyMediumBodyLarge 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyTypographyBodyBodyMediumBodyMedium 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyTypographyBodyBodyMediumBodySmall 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplayDisplayBoldDisplayLarge 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplayDisplayBoldDisplayMedium 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplayDisplayBoldDisplaySmall 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadlineHeadlineBoldHeadlineLarge 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadlineHeadlineBoldHeadlineMedium 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyHeadlineHeadlineBoldHeadlineSmall 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyTitleTitleBoldTitleLarge 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTypographyTitleTitleBoldTitleMedium 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyTitleTitleBoldTitleSmall 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyLabelLabelBoldLabelLarge 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyLabelLabelBoldLabelMedium 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyLabelLabelBoldLabelSmall 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing:  
  0.05em;
  text-indent: 0px;
  
}    

.typographyTypographyBodyBodyBoldBodyLarge 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyTypographyBodyBodyBoldBodyMedium 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyTypographyBodyBodyBoldBodySmall 
 {
  
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

